@model Order
<!-- Модальное окно -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Заявка №@Model.Id - "@Model.Name" </h4>
            <h4><span class="fa fa-calendar"></span> @Model.DateOpen.ToString("dd MMMM yyyyг., HH:mm", new System.Globalization.CultureInfo("ru-RU"))</h4>
        </div>
        <div class="modal-body">
            <h5>Подробное описание:</h5>
            <p>@Model.Description</p><br />
            <table class="table">
                <tr>
                    <th class="text-center" colspan="4">Члены бригады - @Model.Brigade?.Name</th>
                </tr>
                @foreach (var item in Model.Brigade?.employees)
                {
                    <tr>
                        <td>
                            @if (item.Photo != null)
                            {
                                @Html.Raw("<img alt='' class='photo' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Photo) + "\" />")
                            }
                            else
                            {
                                <img alt='' src="~/img/defaultUser.png" class="photo" />
                            }
                        </td>
                        <td>
                            @item.ShortName
                        </td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </table>
            @if (Model.DateClose != null)
            {
                <pre class="text-left">Примечание бригады: @Model.Memo <br />Заявка закрыта: <span class="fa fa-calendar"></span> @Model.DateClose?.ToString("dd MMMM yyyyг., HH:mm", new System.Globalization.CultureInfo("ru-RU"))
                </pre>

            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>
