@model OrderViewModel

<div class="row filter">
    <div class="col-md-12 text-left">
        <div class="form-inline">
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <form method="post" asp-controller="Home" asp-action="StatisticAjax" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#statistic" data-ajax-cache="true">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Бригада</span>
                            <select id="RoleId" name="BrigadeId" class="form-control brigade-select" data-live-search="true">
                                <option>Все</option>
                                @foreach (var item in ViewBag.Brigade)
                                {
                                    <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                                }
                            </select>
                            <span class="input-group-addon"><input type="checkbox" asp-for="Done" data-toggle="tooltip" data-placement="top" data-original-title="Только выполненные заявки" /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control datepicker" type="text" asp-for="DateOpen" placeholder="Введите дату начала" data-toggle="tooltip" data-placement="top" data-original-title="Дата начала (включительно)" />
                            <input class="form-control datepicker" type="text" asp-for="DateClose" placeholder="Введите дату окончания" data-toggle="tooltip" data-placement="top" data-original-title="Дата окончания (включительно)" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" data-original-title="Фильтровать">
                                    <span class="fa fa-filter" aria-hidden="true">
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            }
            <div class="form-group">
                <div class="input-group">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Secretary"))
                    {
                        <a class="btn btn-default" asp-controller="Home" asp-action="Create">Зарегистрировать заявку</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <table class="table">
        <tr>
            <th>Заявок/в т.ч. выполненных</th>
            <td>@Model.Count шт. / @Model.DoneCount шт.  </td>
        </tr>
        <tr>
            <th>Время затраченное на выполнение заявок</th>
            <td>
                @{
                    var days = Model.TotalTime.Days;
                    var hours = Model.TotalTime.Hours;
                }
                @days дн. @hours час.
            </td>
        </tr>
        <tr>
            <th>Средннее время затраченное на выполнение заявки</th>
            <td>
                @{
                    if (Model.DoneCount == 0) Model.DoneCount = 1;
                    var avverage = Model.TotalTime / Model.DoneCount;
                }
                @avverage.Days дн. @avverage.Hours час.
            </td>
        </tr>
    </table>
}

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">Номер заявки</th>
            <th class="text-center">Заявка</th>
            <th class="text-center">Дата регистрации</th>
            <th class="text-center">Дата закрытия</th>
            <th class="text-center">Время выполнения</th>
            <th class="text-center">Бригада</th>
            <th class="text-center" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr onclick="getDetails(@item.Id)">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    @item.DateOpen.ToString("dd MMMM yyyyг., HH:mm", new System.Globalization.CultureInfo("ru-RU"))
                </td>
                <td>
                    @item.DateClose?.ToString("dd MMMM yyyyг., HH:mm", new System.Globalization.CultureInfo("ru-RU"))
                </td>
                <td>
                    @if (item.DateClose != null)
                    {
                        var totalDays = (int)(item.DateClose - item.DateOpen)?.Days;
                        var totalHours = (int)(item.DateClose - item.DateOpen)?.Hours;
                        <span>@totalDays дн. @totalHours час.   </span>
                    }
                </td>
                <td>@item.Brigade.Name</td>
                @if (item.DateClose != null)
                {
                    <td colspan="2">
                    </td>
                }
                else
                {
                    <td colspan="1">
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" data-original-title="Редактировать заявку"><span class="fa fa-edit"></span></a>
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Secretary"))
                        {
                            <a asp-action="Delete" asp-controller="Home" data-toggle="tooltip" data-placement="top" data-original-title="Удалить заявку" asp-route-id="@item.Id"><span class="fa fa-remove"></span></a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/js/site.js" defer></script>
